<div class="musicas_container">
    <app-musica-card
        titulo="Dred Title"
        audioSrc="dred_title.mp3"
        id=0
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Main Theme"
        audioSrc="dred_main_theme.mp3"
        id=1
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Forest Boss"
        audioSrc="dred_forest_boss.mp3"
        id=2
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Desert"
        audioSrc="dred_desert.mp3"
        id=3
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Pyramid Boss"
        audioSrc="dred_pyramid_boss.mp3"
        id=4
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Ocean"
        audioSrc="dred_ocean.mp3"
        id=5
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Heart Boss"
        audioSrc="dred_heart_boss.mp3"
        id=6
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Castle"
        audioSrc="dred_castle.mp3"
        id=7
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Dragon Boss"
        audioSrc="dred_dragon_boss.mp3"
        id=8
        volume="0.5"
    ></app-musica-card>
    <app-musica-card
        titulo="Dred Ending"
        audioSrc="dred_ending.mp3"
        id=9
        volume="0.5"
    ></app-musica-card>
</div>

