

<div class="news_container">
    <app-news-card routerLink="sprites"
        titulo="Klav Collection"
        imagem="klav_collection.png"
        content='Uma variedade de sprites pertencente a coleção "Klav" foram recentemente adicionados, esperamos que gostem'
        data="06/12/2023"
    ></app-news-card>

    <app-news-card routerLink="musicas"
        titulo="Albúm Dred"
        imagem="dred_album.png"
        content="Dred, um albúm de músicas retro expirado em jogos de NES, foi recentemente adicionado."
        data="06/12/2023"
    ></app-news-card>
</div>

