
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: #57488f; 
    overflow-y: scroll;
    scrollbar-width: thin;
}


  
body::-webkit-scrollbar {
    width: 0.5em;
}
  
body::-webkit-scrollbar-thumb {
    background-color:#02E1FF;
}